<div class="image-post">
  {{width}}
  {{height}}
  <a href={{@art.fullUrl}} title={{@art.caption}}>
    {{#if isBuffered}}
      <img
         src={{@art.largeUrl}}
         alt={{@art.caption}}
         title={{@art.caption}}
      />
    {{else}}
      <image-placeholder @art={{@art}} />
    {{/if}}
  </a>
</div>
